[submodule "ext/HawkEye"]
	path = ext/HawkEye
	url = git@github.com:handsomePirate/HawkEye.git
[submodule "ext/EverViewport"]
	path = ext/EverViewport
	url = git@github.com:handsomePirate/EverViewport.git
